.preview-wrapper {
  background-color: #333;

  .konvajs-content {
    background-color: black;
    margin: 0 auto;
  }

  @media (max-width: 991px) {
    height: 400px;
  }

  @media (min-width: 992px) {
    width: 100%;
    height: calc(100vh - 169px);
  }
}
