.layer-button {
  color: #aaa;

  .active.list-group-item & {
    color: white;
    background-color: inherit;
  }
}

.cursor-move {
  cursor: move;
}

#playlist-group {
  .list-group-item {
    padding: 0.5rem 0.25rem;
  }
}
