
.App-header {
  background-color: #222;
  height: 190px;
  padding: 18px;
  color: white;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 85px;
}

.docTitle {
  text-align: center;
}
